# Install packages from feta
--find-links https://s3.amazonaws.com/sheepdog-assets/feta/index.html

# Django-specific dependencies
Django==1.6.5
South==0.8.4

# Supporting dependencies
Fabric==1.8.3
psycopg2==2.5.1
ssh==1.8.0

## The following requirements were added by pip --freeze:
ecdsa==0.11
paramiko==1.12.4
pycrypto==2.6.1
wsgiref==0.1.2
